body {
  margin: 0;
  background-color: #303030;
}
#container {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 10px;
width: 1800px;
height: 800px;
background-color: #fff;
}
/* .recharts-tooltip-item-list{
columns: 2;
-webkit-columns: 2 !important;
-moz-columns: 2;
} */

.tooltip-columns-1 .recharts-default-tooltip ul {
columns: 1;
-webkit-columns: 1;
-moz-columns: 1;
}
.tooltip-columns-2 .recharts-default-tooltip ul {
columns: 2;
-webkit-columns: 2;
-moz-columns: 2;
}
.tooltip-columns-3 .recharts-default-tooltip ul {
columns: 3;
-webkit-columns: 3;
-moz-columns: 3;
}